@import './fonts.css';
@import './tailwind.css';
@import './theme.css';
@import './slick.css';
@import './flip-card.css';

/* Smooth Scrolling */
html {
  scroll-behavior: smooth;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--muted);
}

::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--chart-3);
}


.slick-slider,
.slick-list,
.slick-track {
  width: 100%;
}

.slick-slide > div {
  width: 100%;
}

.slick-slide img {
  display: block;
  width: 100%;
}

.slick-track {
  display: flex !important;
}

.slick-slide {
  height: inherit !important;
}

.slick-slide > div {
  height: 100%;
}
